/* UNIVERSAL STYLES */

/* *{
    border: solid red 0.5px;
} */

html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body{
    margin: 0;

    background-color: #F4F7FA;
}

.cta{
    /* padding: 0.8rem 2.6rem; */

    width: 10.5rem;
    height: 3.8rem;

    font-size: 1rem;
    font-weight: 500;

    border-radius: 170px;

    background-color: #F4F7FA;
    border: 1px solid #F4F7FA;
}

/* FONTS & TYPOGRAPHY */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h2{
    font-size: 3.3rem;
    font-weight: 400;
    line-height: 3.8rem;
    font-style: normal;
}
h3{
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 500;
}

p{
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 400;
    color: #3C3D3E;
}

.smallText{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #3C3D3E;
}

a:hover{
    color: red;
}

a{
    transition: color 400ms;
}

nav ul li a:hover{
    color:red;
}

button:hover{
    cursor: pointer;
    background-color: #3C3D3E;
}

button{
    transition: all 500ms;
}



.profileImageContainer{
    border-radius: 50%;
    overflow: hidden;
}

.profileImageContainer img{
    max-width: 100%;
    height: auto;
}





/* LANDING PAGE */

#landingPageGIFcontainer{
    width: 100%;
    height:100vh;

    display: flex;
    align-items: center;
    background-color: white;
}

.GIF{
    width: 100%;
}




/* MAIN HEADER */

.mainHeader{
    display: flex;
    justify-content: space-between;

   

    /* box-sizing: border-box; */
    position: relative;

    width: 90vw;

    margin: 3vw 5vw;
    
}

.headerLogoContainer{
    width: 12rem;
    height: auto;
}

.headerLogoContainer svg path:hover{
    fill:red;    
}

.headerLogoContainer svg path{
    transition: all 500ms;
}


nav ul{
    display: flex;
    padding: 0;    
}
nav li{
    list-style: none;
    padding:0 1rem;
}

nav li a{
    text-decoration: none;
}

header nav li a{
    color: black;
}





/* SPLIT SECTION CLASS */

.splitSection{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 5vw;
    padding: 3.5vw 0;
}

#alignFlexStart{
    align-items: flex-start;
}

.splitSection .right{
    width: 65%;

    display: flex;
    flex-direction: column;
}

.splitSection .left{
    width:35%;
    display: flex;
}

.splitSection a{
    text-decoration: none;
    color:#0B0C0E;
}


/* HOME PAGE */

#homePageHeader{
    position: absolute;
}

/* hero */

.hero{
    max-height: 44rem;
    width: 100vw;

    display:flex;
    justify-content: center;

    overflow: hidden;

    background-image: url('../assets/img/blurryPortrait.jpeg');
    background-position: center;
    background-size: cover;
}


.hero .spacer{
    height: 15%;
}

#heroImageContainer{
    width: 85%;
    height: auto;
}

#heroImageContainer img{
    max-width: 100%;
    height: auto;
    display: block;
    animation: slowRotate 20s linear 700ms infinite;
    animation-play-state: running;
}

/*#heroImageContainer img:hover {
    animation-play-state: paused;
  } */

@keyframes slowRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#menuGreeting{
    color: white;
    background-color: black;

    width: 320px;
    height:95px;

    border-radius: 64.2857px 0px 0px 64.2857px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* position: absolute; */
    
}


#greetingContainer{
    width:80px;
    height:95px;

    overflow: hidden;

    position:absolute;

    top: 20rem;
    right:0px;

    transition: all 400ms ease-in 200ms;
}

#greetingContainer:hover{
    width: 320px; 
}


.popupMenu{
    background-color: black;

    width:50vw;
    height:44rem;

    /* position:absolute; */
    /* right:-49vw; */

    display: flex;
    justify-content: space-between;
    padding:5vw;

    box-sizing: border-box;
}

/* .popupMenu:hover{
    right:0;
} */

.popupMenuContainer{
    width:0px;
    position:absolute;
    overflow: hidden;
    right:0;

    transition: width 750ms ease-in 300ms;
}


.popupContent{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

#columnNav ul{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

#columnNav h2{
    margin: 1rem;
    transition: color 500ms;
}

#columnNav h2:hover{
    color: red;
}

.popupMenu a{
    color:white;
}


.closeIcon{
    width:4.4rem;
    height:4.4rem;

    background-color: #F4F7FA;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 500ms;
}




/* Recent Work */

.recentProject{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2rem;

    border-bottom: 1px solid #C7D0D9;
}

.recentProject h2{
    margin:0;
}

.left h3:hover{
    color: red;
    transition: color 400ms;
}

.openIcon{
    width:4.7rem;
    height: 4.7rem;
    border: 1px solid #3C3D3E;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;
}
.openIcon svg {
    width: 1.2rem;
    height: 1.2rem;
}
.openIcon:hover,
.openIcon svg path:hover{
    background-color: #3C3D3E;
    fill: #F4F7FA;
}

.projectImageContainer{
    width: 250px;
    height: 180px;

    padding:1rem;
    background-color: #c7d0d9d0;

    position: absolute;
    display: none;
    align-items: center;

    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius:0.1rem;
}

.projectImageContainer img{
    width:100%;
    display: block;
}






/* ABOUT PAGE */

canvas {
    max-width: 100%;
}

.left .imageContainer{
    width:343px;
    height: 685px;
}

.left .imageContainer img{
    max-width: 100%;
    height: auto;
}

.about .left{
    justify-content: center;
}

.skills{
    width: 90vw;
    margin: 0 5vw;
}

.skillIcons{
    min-height: 5.6rem;

    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;

    /* margin: 100px */
}
.skillIcons img{
    height: 100%;
}



/* CONTACT PAGE */

.contact .splitSection{
    padding-top: 0;
}
#contactFooter{
    padding-bottom: 5vw;
}

.contact .profileImageContainer{
    width: 16.7rem;
    height: 16.7rem;
}

.contact .left{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
}

address{
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

.contact ul{
    padding: 0;
    margin: 0;
}
.contact li{
    list-style: none;
    line-height: 200%;
}

.contact a:hover{
    color: red;
}

.contact .smallText{
    margin-bottom: 0;
}

.contact iframe{
    height:95vh;
    border: none;
}





/* FOOTER */

footer{
    /* width: 100%; */
    padding: 5vw;
    padding-bottom: 0;
    background-color: #0B0C0E;
    color: #F4F7FA;
}

.footerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 6vw;
}

footer h2{
    margin: 1rem 0;
}

footer .profileImageContainer{
    width:4.4rem;
    height:4.4rem;
    margin-right:0.5rem;
}


.inlineTextIMG{
    display: flex;
    align-items: center;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
}

.footerLinks p,
footer nav li a{
    color: #C7D0D9;
}